@{
    Layout = null;
}
<ul>
    @foreach (Container.Dto.ComentarioDto c in ViewBag.comentarios)
    {
    <li>
        <div>@c.user</div><br />
        <div>
            @c.contenido
        </div>
        @if (c.id_user == (int)Session["userIdS"])
        {
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button id="@c.id" class="coEliminar btn btn-danger">
                        Eliminar
                    </button>
                </div>
            </div>
        }
    </li>
    }
</ul>

<script>
    $('.coEliminar').on('click', function () {
        $.ajax({
            url: "/Comentario/DeleteComentario?id_comentario=" + this.id,
            type: "get"
        }).done(function (res) {
            loadPage("/Comentario/Comentarios?id_referencia=" + $('#idFileToOptions').text(), '#fileComentarios')
        }).fail(function (jqXHR, textStatus, errorThrown) {
            swal({
                title: "Error al cargar la página",
                text: "La operacion no se pudo realizar",
                icon: "error",
                button: "Ok"
            })
        })

    })
</script>