
@{
    ViewBag.Title = "Container";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
</div>
<script>
    function loadDirect(info) {
        $('#content').html(info)
    }        

    function loadPage(page, where) {
    $(where).hide()
    $.ajax({
        url: page,
        contentType: 'application/html; charset=utf-8',
        type: 'GET',
        dataType: 'html'
    })
        .done(function (result) {
            $(where).html(result)
            $(where).show()
        })
        .fail(function () {
            $(where).show()
            swal({
                title: "Error al cargar la página",
                text: "No se pudo completar la carga del sitio",
                icon: "error",
                button: "Ok"
            })
        })
}

    $(document).ready(function () {
        loadPage("/File/Files", '#content')
        })
</script>

