
@{
    ViewBag.Title = "Container";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
</div>
<script>
    function loadDirect(info) {
        $('#content').html(info)
    }        

    $(document).ready(function () {
        loadPage("/File/Files", '#content')
        })
</script>

