@{
    Layout = null;
}
<div class="bg-primary rounded p-4 my-3">
    <br />
    <h4>¡Bienvenido a nuestro sistema!</h4>
    <br />

    Se trata de un sistema para cargar archivos. Lo primero que debes hacer es crear un repositorio y listo! puedes empezar a subir los
    archivos que desees. Se utiliza para almacenar, compartir y editar archivos. Es uno de los servicios de almacenamiento externo.
    Permite subir documentos, presentaciones, hojas de cálculos, dibujos, entre otras. Las tecnologías utilizadas son las siguientes:
    <ul>
        <li>Entity Framework</li>
        <li>C#</li>
        <li>S3 (Se utiliza para la subida de archivos)</li>
        <li>SQL Server</li>
    </ul>
    <br />
</div>
<div class="bg-info rounded p-4 my-3">
    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="font-family: 'Pacifico', cursive; color: black;">INTEGRANTES</h5>
    <br />
    <ul class="list-unstyled" style="font-family: 'Pacifico', cursive; color: black;">
        <li>
            <p>Adilson Geovany Arbuez Guzman #398118</p>
        </li>
        <li>
            <p>Oscar Napoleon Saenz Quintanilla #345516</p>
        </li>
        <li>
            <p>Elmer Iván Hernández Marroquín #122415</p>
        </li>
    </ul>
</div>
    
