@{
    Layout = null;
}

<style>
    .scrollDiv {
        overflow-y: auto;
        height:100%;
    }
</style>
<div class="row my-4">
    <h2>
        Repositorios y archivos
    </h2>
</div>
<div class="row">
    <div class="col-2 scrollDiv bg-info rounded">
        <h5>Repositorios</h5>
        <div>
            <div id="repoList" class="my-4"></div>
        </div>
    </div>

    <div class="col-10 scrollDiv">
        <h5>Archivos</h5>
        <div id="fileList" class="my-4"></div>
    </div>
</div>
<script>
    loadPage("/File/RepoList", '#repoList')
</script> 