@{
    Layout = null;
}
<div class="row">
    <h2>
        Repositorios y archivos
    </h2>
</div>
<div class="row">
    <div class="col-2">
        <h3>Links</h3>
        <table class="table">
            <tr>
                <td>
                    <div>
                        link
                    </div>
                </td>
            </tr>
        </table>
        <button>
            Nuevo
        </button>
    </div>
    <div class="col-5">
        <h3>Repositorios</h3>
        <div id="repoList"></div>
    </div>

    <div class="col-5">
        <h3>Archivos</h3>
        <div id="fileList"></div>
    </div>
</div>
<script>
    loadPage("/File/RepoList", '#repoList')
</script>