@{
    Layout = null;
}

<style>
    .scrollDiv {
        overflow-y: auto;
        height:100%;
    }
</style>
<div class="row">
    <h2>
        Repositorios y archivos
    </h2>
</div>
<div class="row">
    <div class="col-2 scrollDiv">
        <div>
            <h3>Repositorios</h3>
            <div id="repoList"></div>
        </div>

        <div>
            <h3>Links</h3>
            <div id="linkList">
                <table class="table">
                    <tr>
                        <td>
                            <div>
                                link
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                link
                            </div>
                        </td>
                    </tr>
                </table>
                <button>
                    Nuevo
                </button>
            </div>
        </div>
    </div>

    <div class="col-10 scrollDiv">
        <div class="row">
            <div id="fileList"></div>           
        </div>     
    </div>
</div>
<script>
    loadPage("/File/RepoList", '#repoList')
</script> 