@{
    Layout = null;
}

@if (ViewBag.invitaciones.Count == 0)
{
    <div class="alert alert-danger my-2" role="alert">Parece que no tienes nuevas invitaciones</div>
}
<ul>

    @foreach (Container.Dto.SuscripcionDto c in ViewBag.invitaciones)
    {
        <li id="@c.id_elemento">
            <p>@c.mensaje</p>
            <button class="btn btn-info" id="suscripcionAceptar">Aceptar</button>
            <button class="btn btn-danger" id="suscripcionRechazar">Rechazar</button>
        </li>
    }
</ul>
<script>
    function updateNot() {
        loadPage('/Notificacion/Notificaciones', '#notifiList')
    }

    $('#suscripcionAceptar').on('click', function () {
        var element_id = $(this).closest('li').attr('id')

        $.ajax({
            type: 'post',
            url: '/Notificacion/AceptarInvitacion?id=' + element_id,
        }).done(function (respuesta, textStatus, xhr) {
            swal({
                title: "Completado",
                text: "Accion registrada",
                icon: "success",
                button: "Ok"
            })
            updateNot()
        })
            .fail(function (jqXHR, textStatus, errorThrown) {
                swal({
                    title: "Error",
                    text: "La operacion no se pudo realizar",
                    icon: "error",
                    button: "Ok"
                })

            })
    })

    $('#suscripcionRechazar').on('click', function () {
        var element_id = $(this).closest('li').attr('id')

        $.ajax({
            type: 'post',
            url: '/Notificacion/EliminarInvitacion?id=' + element_id,
        }).done(function (respuesta, textStatus, xhr) {
            swal({
                title: "Completado",
                text: "Accion registrada",
                icon: "success",
                button: "Ok"
            })
            updateNot()
        })
            .fail(function (jqXHR, textStatus, errorThrown) {
                swal({
                    title: "Error",
                    text: "La operacion no se pudo realizar",
                    icon: "error",
                    button: "Ok"
                })

            })
    })

</script>